body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

h2, h3 {
    color: #333;
}

input[type="text"], input[type="password"], input[type="range"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin: 10px;
}

input[type="button"], button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

input[type="button"]:hover, button:hover {
    background-color: #0056b3;
}

#RGB_values input[type="range"] {
    width: 80%;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Potenciometro, #WiFiConnect, #RGB_values,#Temperature_NTC, #ONOFF_UART,#OTA {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


input[type="range"] {
    width: 20%; 
    -webkit-appearance: none;
    height: 8px;
    background: linear-gradient(to right, #4CAF50, #2196F3);
    border-radius: 5px;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #FF5722;
    border-radius: 50%;
    cursor: pointer;
}











